.completionOrderWrapper{
    h3{
        text-align: center;
        font-weight: bold;
    }
    
    
    .three{
        display:inline-block;
        width:33.3%
    }
    .two{
        display:inline-block;
        width:50%
    }
    div{
        margin:20px;
        font-size: 18px;
    }
    .title{
        font-weight: bold;
    }
}

