.small_table 
{
font-size: 12px;
font-weight:440;
color:black ;
}


tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover{
  background:white;
}

.big_table 
{
font-size: 14px;
font-weight: bold;
color:black;

}
