.box{
    padding:20px;
    .title{
        font-size: 30px;
        text-align: center;
        margin-bottom:20px
    };
    .smalltitle{
        font-size: 20px;
        margin-bottom:10px;
        margin-top:10px
    }
    .ant-descriptions-item-label{
        width:145px
    }
}