.approvalWrapper {
    padding      : 10px 20px;
    background   : #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
    .approvalBox{
        text-align: center;
    }
}

.wddb{
    
padding-left: 10px;    
    
}

.wddb .ant-input{
    width:32%
}
.wddb .ant-calendar-picker-input{
    width:100%
}
// .ant-descriptions-item-label{
//     width:170px
// }
.wddb .ant-select{
    width:32% !important
}
.wddb .ant-input-number{
    width:32% !important
}
.description .ant-descriptions-item-label{
    width:165px
}
.approvalOption{
    margin: 20px 0;
    text-align: center;
}
.suggestionWrapper {
    .suggestionRow {
        display    : flex;
        border-left: 1px solid #ccc;

        &:nth-child(odd) {
            background: #fafafa;
        }

        &:nth-child(even) {
            background: #f1f1f1;
        }

        &.suggestionHeader {
            font-weight: bold;
            color      : #000;
            border-top : 1px solid #ccc;
        }

        .suggestionCol {
            flex         : 1;
            padding      : 5px;
            border-right : 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
        .sortCol{
            flex: 0 0 50px;
        }
    }
}
.nopass{
    .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
	background-color: #fff !important;
}
    .ant-table-body .ant-table-row-hover{
	background: #fff !important;
}
    .ant-table-body .ant-table-row-hover>td{
	background: #fff !important;
}
}

