@import "~antd/dist/antd.css";
.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.ant-layout-sider-children {
	background: #304156;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
	background: #304156;
	color: red;
}

.custom-table .ant-table {
	font-size: 26px; /* 表格整体字体（如标题、分页） */
}

.custom-table .ant-table-cell {
	font-size: 24px; /* 表格单元格字体 */
}
