

// 收费项formstyle
.charge_form {
    display      : flex;
    align-items  : center;
    margin-bottom: 10px;

    .charge_info {
        flex         : 0 0 180px;
        text-align   : right;
        line-height  : 30px;
        padding-right: 20px;

        .price_require_icon {
            padding-right: 4px;
            color        : #f5070b;
            font-size    : 16px;
        }
    }

    .charge_control {
        flex: 1;
        
    }

    .charge_price_control {
        flex   : 1;
        display: flex;
        align-items: center;
        .cabinate_electricity_count{
            flex: 0 0 40%;
        }
        .pduPlugsInput {
            border       : 0;
            border-bottom: 1px solid #ccc;
            width        : 100%;
            text-align   : center;
        }
        .react-numeric-input{
            flex: 1;
            input{
                width: 100%;
            }
        }
        .price_input {
            flex         : 1;
            border       : 1px solid #d9d9d9;
            padding      : 5px 10px;
            border-radius: 4px;
        }

        .once_price_input {
            flex: 1;
        }

        .text_descript {
            line-height: 30px;
        }

        .charge_cycle {
            flex: 0 0 90px;
        }
    }
}

.input_number {
    width: 100%;
}
.charge_add_group{
    padding-bottom: 10px;
}

.lookMore{
    color: rgb(52, 154, 221);
    cursor: pointer;
}
.chargeTableWrapper .chargeSumPrice{
    padding: 10px 25px;
}

.chargeTable .ant-table-bordered .ant-table-thead > tr > th, .chargeTable .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #e8e8e8;
    width: auto;
    white-space: normal;
    text-overflow: auto;
    -o-text-overflow: auto;
  }
  .chargeCompare .ant-table-small > .ant-table-content > .ant-table-body{
      margin:0
  }