.ant-col-12{
    height:auto
}
<<<<<<< HEAD
.addmodal .ant-row{
    width:50%;
    height:65px;
    float:left;
}
.addmodal #contractno{
    height:auto
}
.addmodalt .ant-row{
    // width:50%;
    // float:left;
=======
.addmodal .ant-col-12{
    height:1340px
>>>>>>> 16482705d48c1725f42552d58acdbf73fea41778
}
.ant-modal-header{
    border-radius:8px 8px 0 0
}
.ant-modal-content{
    border-radius:8px;
<<<<<<< HEAD
=======
    // border:3px solid #304156
>>>>>>> 16482705d48c1725f42552d58acdbf73fea41778
}
.ant-btn-primary{
    background:#304156;
    border-color:#304156
}
.ant-btn-primary:hover{
    background:#304156;
}
.ant-btn-primary:hover{
    background:#304156;
}
.ant-btn-primary:focus{
    background:#304156;
}
.ant-btn-primary:active{
    background:#304156;
}
.ant-modal-close{
    color:#fff
}
.ant-modal-title{
    color:#fff;
    font-size:20px
}
<<<<<<< HEAD
.ant-modal-header{
    background:#304156
}
.inquiremodal .ant-card-bordered{
border:0px
}
.inquiremodal .ant-row{
    width:48%;
    float:left;
    margin-right:2%
}
.inquiremodal .ant-card-body{
    padding:0px
}
=======
// ::-webkit-scrollbar{
//     width:10px;
//     -webkit-border-radius: 15px;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius:10px;
//     background:#ccc;
//     }
.ant-modal-header{
    background:#304156
}

// ::-webkit-scrollbar-track-piece {
//     background-color: transparent; //滚动槽
//     -webkit-border-radius: 6px;
//   }
//   ::-webkit-scrollbar-thumb:vertical {
//     height: 12px;
//     background-color: #BDBDBD;
//     -webkit-border-radius: 6px;
//   }
// ::-webkit-scrollbar-thumb:horizontal {
//     width: 12px;
//     background-color: #BDBDBD;
//     -webkit-border-radius: 6px;
//   }
>>>>>>> 16482705d48c1725f42552d58acdbf73fea41778
